examples/
tests/
bench/
core/
scripts/
coverage/
node_modules/
.DS_Store
.github/
.vscode/
.idea/
eslint.config.js
.eslintrc
.eslintrc.*
.prettier*
.editorconfig
tsup.config.ts
tsconfig.json
vitest.config.ts
*.log
*.tsbuildinfo
package-lock.json
pnpm-lock.yaml
yarn.lock
